---
layout: default
title: Home
---

<!-- 
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div> -->
<div style="display: flex; align-items: flex-start; gap: 20px;">
  <!-- 左：画像 -->
  <!-- <img src="sample.png" style="width: 150px; height: auto; border-radius: 8px;" /> -->
  <img src="sample.png" style="
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid black;
" />
<div>
<h1>Home(About me)</h1>

<p>Hello! I'm Sample Taro, a researcher at Tohoku Univ.

I am interested in the following topics:</p>
<ul>
  <li>Machine Learning</li>
  <li>Computer Vision</li>
  <li>Natural Language Processing</li>
  <li>Reinforcement Learning</li>
  <li>Deep Learning</li>
  <li>Generative Models</li>
</ul>
If you are interested in my research, please feel free to contact me at hogehoge.@tohoku.ac.jp.

</p>
</div>
</div>

<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->