<!-- <header class="site-header">
    <div class="wrapper">
      <a class="site-title" rel="author" href="{{ site.url | relative_url }}/">{{ site.title }}</a>
  
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon"></span>
        </label>
  
        <div class="trigger">
          < {% for page in site.pages %}
            {% if page.nav %}
              <a class="page-link" href="{{ page.url | relative_url }}">{{ page.title }}</a>
            {% endif %}
          {% endfor %} -->
          <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
          <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
        </div>
      </nav>
    </div>
  </header> -->

  
<header class="site-header">
    <div class="wrapper header-sticky">
      <div class="header-about">
        <!-- <h1>
          <a class="site-title" rel="author" href="{{ site.baseurl }}/">
            {{ site.title }}
          </a>
        </h1> -->
        <!-- <p class="lead">{{ site.description }}</p> -->
      </div>
  
      <nav class="header-nav">
        <div class="trigger">
          <!-- <a class="header-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>
          <a class="header-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl | relative_url }}/">Home</a> -->

          <!-- <a class="header-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/">Home</a> -->
          <a class="header-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

  
          {% comment %}
            The code below dynamically generates a header nav of pages with
            `layout: page` in the front-matter. See readme for usage.
          {% endcomment %}
  
          <!-- {% assign pages_list = site.pages %} -->
          {% assign pages_list = site.pages | where_exp: "page", "page.menu != nil" | sort: "menu" %}
          {% for node in pages_list %}
            {% if node.title != null %}
              {% if node.layout == "page" %}
                <!-- <a class="header-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a> -->
                <!-- <a class="header-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a> -->
                <a class="header-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | relative_url }}">{{ node.title }}</a>


              {% endif %}
            {% endif %}
          {% endfor %}
<!--   
          <a class="header-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
          <a class="header-nav-item" href="{{ site.github.repo }}">GitHub</a> -->

          <button id="darkModeToggle" class="header-nav-item">
            <span id="darkModeIcon">🌙</span>
          </button>
      

    
        </div>
      </nav>
    </div>
  </header>